JWT_SECRET_KEY=ciag-klucza
JWT_USER_LOGIN=login-dla-usera
JWT_USER_PASS=haslo-usera
JWT_EXPIRATION=30m
ENV_IS_PRODUCTION=false
CHUNK_SERVICE_HOST_PORT=3001
CHUNK_SERVICE_CONTAINER_PORT=3001
HOST=0.0.0.0
CHUNK_SERVICE_VIDEO_EXTENSIONS=.mp4,.wmv,.avi,.mov,.mkv,.flv,.webm,.mpeg